@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Custom */
a {
  color: #000;
  text-decoration: none;
}

input,
textarea {
  font-family: "Noto Sans KR", sans-serif;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Noto Sans KR", sans-serif;
}
input::placeholder,
textarea::placeholder {
  font-family: "Noto Sans KR", sans-serif;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 800px;
  margin: 0 auto;
}

body {
  background-image: linear-gradient(to right bottom, #ffecd2, #fcb69f);
}

#introduction {
  position: relative;
  padding: 40px 0;
}
#introduction::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 53.5%;
  height: 100%;
  background-color: #fff;
}
#introduction .container {
  display: flex;
}
#introduction .left {
  width: 100%;
  max-width: 380px;
  padding-top: 40px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}
#introduction .left .face {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #ccc;
}
#introduction .left .name {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 40px;
}
#introduction .left .birth {
  font-size: 1.25rem;
  margin-top: 40px;
}
#introduction .left .job {
  position: relative;
  padding-top: 40px;
  margin-top: 40px;
  font-size: 1.25rem;
}
#introduction .left .job::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: dodgerblue;
}
#introduction .left .links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 50px;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
#introduction .left .links a {
  color: #fff;
}
#introduction .right {
  padding: 40px 0 0 80px;
}
#introduction .right .column ~ .column {
  margin-top: 50px;
}
#introduction .right .column .title {
  font-weight: 700;
  font-size: 1.5rem;
}
#introduction .right .column ul {
  margin-top: 30px;
}
#introduction .right .column-type-a li ~ li {
  margin-top: 20px;
}
#introduction .right .column-type-a li .date {
  color: #989898;
}
#introduction .right .column-type-a li .detail {
  margin-left: 30px;
}
#introduction .right .column-type-b ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#portfolio {
  margin-top: 100px;
}
#portfolio .section-title {
  text-align: center;
}
#portfolio .section-title .text {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 3rem;
}
#portfolio .section-title .text::before, #portfolio .section-title .text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1em;
  height: 2px;
  background-color: #333;
}
#portfolio .section-title .text::before {
  left: -80px;
}
#portfolio .section-title .text::after {
  right: -80px;
}
#portfolio .portfolio-list {
  margin-top: 40px;
}
#portfolio .portfolio-list li {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#portfolio .portfolio-list li ~ li {
  margin-top: 40px;
}
#portfolio .portfolio-list li:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#portfolio .portfolio-list li:hover .title a::before {
  transform: scale(1);
}
#portfolio .portfolio-list .title a {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-weight: 500;
  font-size: 1.5rem;
}
#portfolio .portfolio-list .title a::before {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 20%;
  background-color: lightcoral;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: left;
}
#portfolio .portfolio-list .part {
  margin-top: 20px;
}
#portfolio .portfolio-list .tech {
  margin-top: 20px;
}
#portfolio .portfolio-list .tool {
  margin-top: 20px;
}
#portfolio .portfolio-list h4 {
  margin-top: 20px;
}
#portfolio .portfolio-list .link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 10px;
  margin-top: 20px;
}
#portfolio .portfolio-list .link-list a {
  display: inline-block;
  padding: 8px 12px;
  border: 2px solid #fed9c0;
  border-radius: 20px;
  transition: background-color 0.15s ease-out, color 0.1s ease-out;
}
#portfolio .portfolio-list .link-list a:hover {
  background-color: #fed9c0;
  color: #fff;
}

#contact {
  margin-top: 80px;
  padding-bottom: 60px;
}
#contact .section-title {
  text-align: center;
}
#contact .section-title .text {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 3rem;
}
#contact .section-title .text::before, #contact .section-title .text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1em;
  height: 2px;
  background-color: #333;
}
#contact .section-title .text::before {
  left: -80px;
}
#contact .section-title .text::after {
  right: -80px;
}
#contact .content {
  margin-top: 80px;
}
#contact .info-area {
  padding: 1rem;
  background-color: #fff;
}
#contact .info-area svg {
  width: 50px;
  height: 50px;
}
#contact .info-area .phone,
#contact .info-area .email {
  display: flex;
  align-items: center;
}
#contact .info-area .phone .text,
#contact .info-area .email .text {
  margin-left: 10px;
  font-size: 1.25rem;
  position: relative;
}
#contact .info-area .phone .text::before,
#contact .info-area .email .text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  background-color: lightcoral;
}
#contact .info-area .phone:hover .text::before,
#contact .info-area .email:hover .text::before {
  transform: scaleX(1);
}
#contact .info-area .phone .text::before {
  bottom: -2px;
}
#contact .info-area .email .text::before {
  bottom: -5px;
}
#contact .email-area {
  margin-top: 40px;
  box-sizing: border-box;
  padding: 42px 55px;
  background-color: #fff;
  text-align: center;
}
#contact .email-area .title {
  color: #333;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
}
#contact .email-area form {
  margin-top: 44px;
}
#contact .email-area .row {
  position: relative;
  padding-bottom: 13px;
  border-bottom: 2px solid #d9d9d9;
  text-align: left;
}
#contact .email-area .row ~ .row {
  margin-top: 30px;
}
#contact .email-area .row::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #7f7f7f;
  transition: transform 0.4s;
  transform: scale(0);
  transform-origin: left;
}
#contact .email-area .row:focus-within::before {
  transform: scale(1);
}
#contact .email-area label {
  display: block;
  color: #666;
  font-size: 13px;
  line-height: 1.5;
}
#contact .email-area input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: 0;
  background-color: transparent;
  color: #333;
  outline: 0;
  font-size: 18px;
  line-height: 1.2;
}
#contact .email-area textarea {
  width: 100%;
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
  border: 0;
  color: #333;
  outline: 0;
  font-size: 18px;
  line-height: 1.2;
}
#contact .email-area button[type=submit] {
  width: 100%;
  max-width: 500px;
  height: 60px;
  margin-top: 40px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #fad0c4, #ff9a9e);
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 840px) {
  .container {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }
  #introduction::before {
    display: none;
  }
  #introduction .container {
    flex-direction: column;
  }
  #introduction .left {
    margin: 0 auto;
  }
  #introduction .right {
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
  }
  #portfolio {
    margin-top: 40px;
  }
  #portfolio .section-title .text {
    font-size: 2rem;
  }
  #portfolio .section-title .text::before {
    left: -40px;
  }
  #portfolio .section-title .text::after {
    right: -40px;
  }
  #contact .section-title .text {
    font-size: 2rem;
  }
  #contact .section-title .text::before {
    left: -40px;
  }
  #contact .section-title .text::after {
    right: -40px;
  }
}/*# sourceMappingURL=style.css.map */